body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }  
.top_header{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #007A9F;
    color: aliceblue;
}

.profile_header{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content__task{
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(107, 149, 228); */
  border-radius: 10px;
  margin: 10px;
  color:white;
  font-size: 1.3rem;
}

.strike{
  text-decoration: line-through;
  color:rgb(255, 45, 185);

}

.content__name{
  margin: 10px;
  width: 50%;
  padding: 0px 15px;
  line-height: 30px;
  position: relative;
}
.content__name > div{
  outline-style: none;
  word-wrap:break-word
}

.content__delete{
  padding: 10px 0px;
  margin: 0px 10px 0px 0px;
  display: flex;
}

.input{
  width:94%;
  height: 2.75vh;
  border-radius: 10px;
  border:3px solid rgb(53, 85, 146);
  font-size: 20px;
  margin: 10px;
  padding: 5px;
}

.input:focus{
  outline: none !important;
  border:4px solid rgb(48, 167, 87);
  box-shadow: 0 1px 5px #5d98d6;
}
.outer{
  width: 100vw;
  height:94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;

}

.input__div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__div > button{
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 12px;
  /* background-color: rgb(68, 68, 233); */
  background-color: #00BAC2;
  color: white;
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}

.display__task{
  border-radius: 7px;
  /* border: 5px solid rgb(64, 127, 230); */
  width: 53vw;
  height:70vh;
  margin-top: 20px;
  overflow-y:scroll;
  box-shadow:1px 1px 20px 2px #b6b5b5; 
  padding: 10px;
  position: relative;
  border:3px solid rgb(74, 150, 221);
}
.TagMain{
  display: flex;
  border:1px solid #8f8f8f;
  border-radius: 50px;
  background-color: #f1f1f138;
  margin: 0px 3px 0px 0px;

}

.Tag{
  border-radius: 50px;
  width: 15px;
  height: 20px;
  margin: 2px;
  border:2px double #ffffff;
}

#Tag1{
  background-color: #292f2d;
}
#Tag2{
  background-color: #0fbcf9;
  color: black;
}
#Tag3{
  background-color: #0be881;
  color: black;
}
#Tag4{
  background-color: #ffd32a;
  color: black;
}

.input_search{
  display: flex;
  align-items: center;
}
